/* main.scss - Custom CSS stuff */
/* line 2, ../sass/main.scss */
html, body {
  height: 100%;
}

/* line 4, ../sass/main.scss */
body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
}

/* line 10, ../sass/main.scss */
a, a:visited {
  color: #3366CC;
}

/* line 12, ../sass/main.scss */
table {
  font-size: inherit;
  font: 100%;
}

/* line 17, ../sass/main.scss */
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}
/* line 20, ../sass/main.scss */
ul.posts li {
  line-height: 1.75em;
}
/* line 23, ../sass/main.scss */
ul.posts span {
  color: #aaa;
  font-family: Consolas, Monaco, "Courier New", monospace;
  font-size: 80%;
}

/* line 30, ../sass/main.scss */
.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}
/* line 36, ../sass/main.scss */
.footer .contact {
  float: left;
  margin-right: 3em;
  border-top: 1px solid #eaeaea;
}
/* line 40, ../sass/main.scss */
.footer .contact ul {
  list-style: none;
}
/* line 43, ../sass/main.scss */
.footer .contact a {
  color: gray;
}
/* line 46, ../sass/main.scss */
.footer .contact a:hover {
  color: blue;
  text-decoration: none;
}
/* line 51, ../sass/main.scss */
.footer .muted a {
  color: black;
}
